
<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto">
                <a class="navbar-brand" href="~/html/ltr/vertical-collapsed-menu-template/index.html">
                    <span class="brand-logo">
                        @* <svg viewbox="0 0 139 95" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="24">
                            <defs>
                                <lineargradient id="linearGradient-1" x1="100%" y1="10.5120544%" x2="50%" y2="89.4879456%">
                                    <stop stop-color="#000000" offset="0%"></stop>
                                    <stop stop-color="#FFFFFF" offset="100%"></stop>
                                </lineargradient>
                                <lineargradient id="linearGradient-2" x1="64.0437835%" y1="46.3276743%" x2="37.373316%" y2="100%">
                                    <stop stop-color="#EEEEEE" stop-opacity="0" offset="0%"></stop>
                                    <stop stop-color="#FFFFFF" offset="100%"></stop>
                                </lineargradient>
                            </defs>
                            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g id="Artboard" transform="translate(-400.000000, -178.000000)">
                                    <g id="Group" transform="translate(400.000000, 178.000000)">
                                        <path class="text-primary" id="Path" d="M-5.68434189e-14,2.84217094e-14 L39.1816085,2.84217094e-14 L69.3453773,32.2519224 L101.428699,2.84217094e-14 L138.784583,2.84217094e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L6.71554594,44.4188507 C2.46876683,39.9813776 0.345377275,35.1089553 0.345377275,29.8015838 C0.345377275,24.4942122 0.230251516,14.560351 -5.68434189e-14,2.84217094e-14 Z" style="fill:currentColor"></path>
                                        <path id="Path1" d="M69.3453773,32.2519224 L101.428699,1.42108547e-14 L138.784583,1.42108547e-14 L138.784199,29.8015838 C137.958931,37.3510206 135.784352,42.5567762 132.260463,45.4188507 C128.736573,48.2809251 112.33867,64.5239941 83.0667527,94.1480575 L56.2750821,94.1480575 L32.8435758,70.5039241 L69.3453773,32.2519224 Z" fill="url(#linearGradient-1)" opacity="0.2"></path>
                                        <polygon id="Path-2" fill="#000000" opacity="0.049999997" points="69.3922914 32.4202615 32.8435758 70.5039241 54.0490008 16.1851325"></polygon>
                                        <polygon id="Path-21" fill="#000000" opacity="0.099999994" points="69.3922914 32.4202615 32.8435758 70.5039241 58.3683556 20.7402338"></polygon>
                                        <polygon id="Path-3" fill="url(#linearGradient-2)" opacity="0.099999994" points="101.428699 0 83.0667527 94.1480575 130.378721 47.0740288"></polygon>
                                    </g>
                                </g>
                            </g>
                        </svg> *@
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="33px" height="32px" viewBox="0 0 33 32" enable-background="new 0 0 33 32" xml:space="preserve">  <image id="image0" width="33" height="32" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAgCAYAAACcuBHKAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAA
CXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH5gEZEwoWDOMjaAAAA9B6VFh0UmF3IHByb2ZpbGUg
dHlwZSB4bXAAAHic7Z1NcqNADIX3fYocoS31Dz4ONrCbqlnO8eepydgJxoltMlWPKoUqQ6Bb0qcf
Nm9B+PPrd3h7eztIFyXoWafa1VgORcup5JokFim51HIsow4i43Q6nSYR3D+WZHdy1ZwGjWmoMSnW
duUYUlf7io1Za5/GnArOMKiKTSI66Rh7PddO+9oVbCyDOSsHifZ/OZexqj0L5gHRpDJZHNrPDy7L
WyRXM7h3sh3pskNi7tKQYxALbqrtlmYZVWVAPFEPCq8KXtw7aNJs17h3xl1pz0UmnOffEmRoy/q2
sMeSKnFxiOHN14AUxIKVWVJK5QoYGuH80CC7mnBE7QE11fYnY8UiGVvcFf4PerTjEo/gdwizERmq
VlTJ8lI7wCFT9vwayzIihIPioTRSjpa7gJJOZUSI7wuQeIFvpNoiRKb7G9T3Y1E1q8UtVItovFYT
1yhJGYDbIeZogChCtKrOUYelH+uZZrxPFnbGtmTZyWZyKmcdP5YeEEdbVWtoKTzBf7QKo9hRuty6
2pYj1ypHPbdIvjQf1nKwGlVOaT7r+N5HGa2DDmoNlENOdkIHaeumpJr7OxF8MHXrPnzyPyDMBKxS
jzf+y8W/wJm5l9bGFb94Ghb+V00te0mm224KczvN3fR4+912X3il/bBZl70XEGaEISnn6zTZQvxm
bMz2QrHRQRvMTXi4NuEi2YbQfPSlNFOD5UZHhI8rvCmzOUNfVcvO2spFZ68ncT2HH9fOL5Qwv0qt
bsuX6Vq33D9uZu3V438ZegaGHu11GD60zywMEW0w9FVhdof2eJftAO3VkaFE+5n550D7yMIR0QZD
9wuzQ7RHu2wXaK+NDCnaT8w/C9qVhSWiDYbuFWaXaI912U7QXhkZWrTt88+D9o+FJ6INhtYLs1O0
R7psN2jPjwwx2tb5Z0KbWZgi2mBorTC7Rfu+y3aE9uzIUKNtm38utFWlZq9oqwLLXtG+67JdoT03
MuRoW+afDS32bBFtMLSq+O0V7esu2xmai5msaC5mkqK5mMmK5mImKZqLmaxoLmayormYSYrmYiYr
mouZpGguZrKiuZjJiuZiJimai5msaC5mkqK5mMmK5mImK5qLmaRoLmayormYyYrmYiYpmouZrGgu
ZpKiuZjJiuZiJiuai5mkaC5msqK5mEmK5mImK5qLmaxoLmaSormYyYrmYiYpmouZrGguZrKiuZhJ
iuZiJiuai5msaC5mkqK5mMmK5mImKZqLmaxoLmb+kw5XP6CS7SMT9kmCWudvn4S/RvCKY/pnItwA
AAwKSURBVFjDnVd7cFTXef+dc597971a7S4SICT0BAwC8TI1GFNCAD+CWw/B4yZOncQtCdN20kzS
dtxk2kmTOp24TsaZuHZb10ydGcc2KcGAMbExKeIVXjIPISEJ0Gu1kva9d/fuvfec0z9ksD3GzUzO
n/ee7/t+5/d93++cj+B3LO5ayJUdSBDgUgUKJAgImp0oGtGmYOWNr1xmRoCibV0CiaUhaBEZnEog
gqNULiLsD8NjeP/fGOTTfmSyU9BUDYJz6D4dffuGseDBFgAg6fHJcLI/12J49EIpyWRFpzw4y1NO
LAkWKLQSgOqFPZewcFsTnAoHIQQ2qSJk1Nwxlnynj2a5AMvMwRPy4tAPurH5bzfKtYuMxNEf9yws
F6tq09o6uzyB5lNvXYoPdWdWUyokWXfLWoBORuYE++d2xXo6H2q4rFAjefTlY+7Gr62GZ2MaZmkK
hGgwvIFPZ8KpVlG2iyA+Bk/VB1kzaHJguL77xaH1Q7/JbCqMV5o9c/nAsgc6JkBI1fYn08PvT7Yx
i2v5iZIyPZz3ltPVqEwNtXZ2eLBjfcPBDTuXvTersW7MrRR40WNB5Dn8niBUzbgziEq5CN3jQerS
NOKL4vp7/3lqxcmX+x5PX7O6jJiebH8gMt7+mURw6EBpSbBJ8c9d57O5DVVSJRdElKoVeyI3URzr
OTxYvnxgZDbLy4lEa+2FtY937N74xLpTo2duVuqXR5DNFeBRgzC8/o+DKBam4fMHce3sIFq62nyv
fmffA+deHXsSjHiWP9rQv+DhWXW6t7TEKdPosR9myPyNYRg1MoYPOXD1ChZuD4F6AEopVxQlZVfc
c8df6U2de/XGIt2jWss/3/zCY997aG//0eullnsjyKYM1CT0D0EUc0VQKQ3wGhgBn7H72288fOEX
Y7tC8aC56an2TLBBXQOwep2eh51txa++NYUVX56NSyd7cWO/BS2qYePfNyLeFoAQAKUUBASSIt1I
9RaO7X3qt3XlQtm38tHW5x7/4SN7stMpMxyNo2LmYPjCoADAdA7DNxtGwCfv+Zf963t+MbYzUT+r
9PAzneVAg3I/c0U9QRGUj8G2DZTyFspFF/4lAiPR0/DdVUUgZkAIgBACAgJCCFzbnVfb6n/o0Z+u
TYcikcL5V6/v3PP0m/eGo3GZw0XBUgAAtFIxIREFhMg4987Z1uOvDD5R46unW7/XYalBsYkIasiS
BcoG4Do5CAlwXBtDp5PoWtWJb/70y7j/r1ZCDykgIDMsEAIhBACAuW7AWytv2faDFRlF9tHjr/R+
9dzhCx0UMrw+gmLZBNV1A8SqQgjhfefFsw/KU6G2e/+yJanG+D2cCY1SCma+A2KfBq8WIWkuJA9w
7d0UTrx4HW5GgnAAuASypECmMgBxGwQhBMxxfcFGZd26P2vvs5NS65F/P/0gAB+puPClDciF0jSC
wVYc2bNnfvJMZcPiZW2jsbtJq+PYIUIkCGHDLZ6DXtMCq5KEHMjAk1AwPcRw/vVR9B5KwhOV4Y3J
CNTpSCwMorErBiOsAJhhRABwqnaibUt0/pW9s24M/3Z049HXjh1cv33t+Xw1B6oQHUJklDP7rq7Q
rVhs0Y647XK7RYhbpxFwXQHHcQAaB3EvYk5nCJy44IzDKlcRbfaiZV0talt8yKaK6DnSj1KujA99
AEIAnDqLl+6Ylxclb6znrcHVQghFcinkbDIPMc8KpC9Xl8+K1ZmBBSJedZhGqQQhOLiQAb0VZq4H
/tpHYGYOo2n1UpzdS1EYqaD17gQ2fXsxZI2jUEhD1+MQrgwB3AZwKy2uzfz1K701wWAwP9GbXmpW
08HMsDlNDzx/BOd/3RtxptR5dR0hUyh23cdOwAHV2wWrMA4OC64IwVdzHs331YIYLjQvBZUA5gIS
kZCdvApJdiAr0m0AM/44GGeQvWJ2bH44W55kDReP9kXefP4w6Fd/9E0kB6bDkuPzR5r9FhNO4JYh
5xyCM0hqI6h+FwqpfTAiXbAKJ9C1VUZNuw8jgylkR4sABDQ9BFn2ID95EUSwmRRwDiH4TPuCgINF
4q1BB64cSg1kIl/78VdAgRTMjOmjXFY8EZVzzpWPsAgBAcYJPLV/hGoxDbd8EYrRClk5jPVfmg+X
2Ti+5zLcKgPA4A83olyaQMUc/Eg6yEdY4Z5AvcZVXVUKUxUvgBmxElwQKkApuMy5AOcMQnAA4rYP
SZsHb/Qx5EbfhaQAzLUQn3cKW3YtwdRIGmcP9oO7AoTKMMJzUEh3A3A+eUULQbSA6ip+jTOX4TYI
T1CtMOIwO8cUQggXQoAxBsbYx+zV8Bp4ItswPXwIhn8OKuYAahu68bm/XgbuckzcyECAwmd4IawB
cGbe4aFAqyAKVTyEeQNqBQDk7277PmJNkTxXb5iF60yrIZLpEMd3qy4Yc2dMKQVAYcQeAONAdvRt
BOrXwCqOQJCX0PXZFeCUgrqTKBffBpUMgCgfpGKGXS4EVCIVWEXWicxKNXNDue/e/zTkLzy1HYE5
SvpgqHc8dbXUMd/RMhCVOAi5XdkAbrNCKYWsbcHgxSoS5gmEGptA5bkwMxfB3RMwwSCUGPyJbRBC
B+MOIBiEIDPZZcpE+mYpzGh5qH1VS7quYQ7kRFsYXl8k52vBhYkTqeX2QGuGNueZ4JDuwCU451B8
MiaG25C8qmH1jkEQ5RSMmpWQjE4IEgNgQPAZtZSlEXC3DC5aISlS1RxRMsO9A/M9teipmzcnH4yk
QTllAGAt3Fh3PEuGM8N7CVWoJ8U4+6C9PtIqICBEgqTLmL+yDsO9HsDZBZltR/FmP4o3n4edfQnC
OgTKu0HZAVTS/w27UgUBgUz14b5f5QOTqbFS6z31JwFYTLIga0otkgM38cdPbuk9//oL7/V239g+
Z2vjiNxhRZnLVYBDfHA1UyHBzlBM9XFkT6gg2TDe+sdR6NosBCJfRLT5JqKLLkOpPQbIeXChQgv8
Abz+FiiaXM6elkauHr3Z4Gm2Xn/465uvJIfGoQcCkB23hEhjGIA3v/oLLXuP/MPF1e//bFa86/uR
gaon3cHKEnFKEvJjDlIXMxi+kMbowBhKZhGCupgsD88wdF2BckFF9GgnWjo/i9YNAdQ0e0A8Gogs
GJ8y+s8+n0rkxfDwpu0dv6Tw5KJNQKVQmlER07wKTZ4LSfXoP/mLf3tk/HXjW2tWrOWNu8q+M/uH
mga7UySXzcK0snBpBRwcwhaATSGYBAIJBBQCApwLUKEi4ouhfvYszFkVYgs3xwfPP2val66c01s/
7/3nP3/28VecsmUptoOi/IFOMF4PpgqcOdhtff0nO/b775t+6eTpE9r1Z71WrN53zYpet7PudTi0
CFAXlArIHgIlQKH5JRDVBScOAAZJEoBkY7I4iHF2Cb6IWuj5V1u6dKlHS/wh/68//adH9v3mhVMW
DI6MBwj4Ax/qaSE/DX+gBktJJ47mj0Sf27X7sfy7vicWzl7jTWx0+IXR/5179cw1rVJwQQRAyUyd
ECqDUhnCIXBKLpjDoAUlLFjRgkWNqzB+jNl9Y2cHazc4L+x8bsfPQ6HaSSEESpU8/Ebo46JumiZk
SqHqOr6x9Tt45sDfhX72Nz/fPLC39Cf1lbs6m5Y01GLulHqzcAXjE6PIZwpwKgyccRAiQdE0+PwG
osEo5obaQaZiGOgdzeU8V0+2fy64+8mnHz34zBf/I/eN3TtRKhQgKQSGEfjk3GFmCxCKgNfrQ9/J
EbStblDf+Z/DLcdevvKg+b6+JcpbOuKJeChQpyo04IApNpiwwBwKXpHBCzJKU5YzPTmVydPhXm+n
fWjdlxbv37Dtvr4rR3vtBfe2I19Kw6sFoajqnYefWytvjkAyXOiohUx8EEJ4D7/xdvP5N68tz1yx
O0XaaFacUFwVhpcQKAzMsVE2XaWQojVmf7hDPbdsa/PZz2zfMkQIKbvchAULvCgQCEY/Ee9TB+J8
pgToOciKB7wkoSV8N5LiisyQ85749dnIeF86UkxVfMzlKlVhh2LeUn17XWbVhsUZikCphrSx67lu
qEE/qnYVUlWBP2Dg91pWZeatmDPTKJfzmLgxjtee2YOV2PyxffdgE375o/1I3UjCLOeQLyfRX3oN
1aLzO2P8HwHO703oFGkKAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAxLTI1VDE5OjEwOjIyKzAw
OjAwVeVA8QAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMS0yNVQxOToxMDoyMiswMDowMCS4+E0A
AAATdEVYdGRjOmZvcm1hdABpbWFnZS9wbmf/uRs+AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJl
d29ya3MgQ1M26LyyjAAAACN0RVh0eG1wOkNyZWF0ZURhdGUAMjAxNS0wNi0xNVQxNTozNDo0M1pG
wTjYAAAALXRFWHR4bXA6Q3JlYXRvclRvb2wAQWRvYmUgRmlyZXdvcmtzIENTNiAoV2luZG93cyko
Y/PJAAAAI3RFWHR4bXA6TW9kaWZ5RGF0ZQAyMDE2LTA2LTIzVDEyOjU3OjE2WobN6NEAAAAASUVO
RK5CYII=" />
</svg>
                    </span>
                    <h2 class="brand-text">DCC Portal</h2>
                </a>
            </li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc" data-ticon="disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main" id="main-menu-navigation" data-menu="menu-navigation">
            <li class=" nav-item">
                <a class="d-flex align-items-center" href="#"><i data-feather="home"></i><span class="menu-title text-truncate" data-i18n="Dashboards">Dashboards</span></a>
                <ul class="menu-content">

                    <li class="active">
                        <a class="d-flex align-items-center" href="/Home/RedirectToLocal"><i data-feather="circle"></i><span class="menu-item text-truncate" data-i18n="eCommerce">Dashboards</span></a>
                    </li>
                </ul>
            </li>
          @* Super Administrator *@
       @if(User.IsInRole("Super Administrator"))
       {
           <li class=" nav-item">
            <a class="d-flex align-items-center" href="#"><i data-feather='user-check'></i><span class="menu-title text-truncate" data-i18n="Financials">Believers</span></a>
            <ul class="menu-content">
                <li>
                    <a class="d-flex align-items-center" asp-action="BelieversList" asp-controller="Users"><i data-feather='users'></i><span class="menu-item text-truncate" data-i18n="All Believers">All Believers</span></a>
                </li>
                <li>
                    <a class="d-flex align-items-center" asp-action="BelieverForm" asp-controller="Users"><i data-feather='user-plus'></i><span class="menu-item text-truncate" data-i18n="Add Believer">Add Believer</span></a>
                </li>
                
            </ul>
        </li>
        <li class=" nav-item">
            <a class="d-flex align-items-center" asp-action="Index" asp-controller="Members"><i data-feather='users'></i><span class="menu-title text-truncate" data-i18n="Members">Members</span></a>
        </li>
        <li class=" nav-item">
            <a class="d-flex align-items-center" asp-action="Index" asp-controller="Departments"><i data-feather='home'></i><span class="menu-title text-truncate" data-i18n="Departments">Departments</span></a>
        </li>
         <li class=" nav-item">
            <a class="d-flex align-items-center" asp-action="Index" asp-controller="Units"><i data-feather='folder'></i><span class="menu-title text-truncate" data-i18n="Units">Units</span></a>
        </li>
        <li class=" nav-item">
            <a class="d-flex align-items-center" asp-action="Index" asp-controller="Upload"><i data-feather='upload'></i><span class="menu-title text-truncate" data-i18n="Upload Users">Upload Users</span></a>
        </li>
       }
        
        @* End Super Administrator *@

       
        @* Administrator *@
         @if(User.IsInRole("Administrator"))
         {
              <li class=" nav-item">
            <a class="d-flex align-items-center" asp-action="MembersInDept" asp-controller="Departmental"><i data-feather='users'></i><span class="menu-title text-truncate" data-i18n="Members">Members</span></a>
        </li>
        <li class=" nav-item">
            <a class="d-flex align-items-center" asp-action="UnitsInDept" asp-controller="Departmental"><i data-feather='folder'></i><span class="menu-title text-truncate" data-i18n="Units">Units</span></a>
        </li>
        <li class=" nav-item">
            <a class="d-flex align-items-center" asp-action="Index" asp-controller="Attendance"><i data-feather='clock'></i><span class="menu-title text-truncate" data-i18n="Attendance">Attendance</span></a>
        </li>
         <li class=" nav-item">
            <a class="d-flex align-items-center" href="#"><i data-feather='dollar-sign'></i><span class="menu-title text-truncate" data-i18n="Financials">Financials</span></a>
            <ul class="menu-content">
                <li>
                    <a class="d-flex align-items-center" asp-action="Setup" asp-controller="Finance"><i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Setup Dues">Setup Dues</span></a>
                </li>
                <li>
                    <a class="d-flex align-items-center" asp-action="MembersInDept" asp-controller="Finance"><i data-feather='plus-square'></i><span class="menu-item text-truncate" data-i18n="Dues Entry">Dues Entry</span></a>
                </li>
                <li>
                    <a class="d-flex align-items-center" asp-action="Expense" asp-controller="Finance"><i data-feather='minus'></i><span class="menu-item text-truncate" data-i18n="Expenditure">Expenditure</span></a>
                </li>
                <li>
                    <a class="d-flex align-items-center" asp-action="Report" asp-controller="Finance"><i data-feather='trending-up'></i><span class="menu-item text-truncate" data-i18n="Reports">Reports</span></a>
                </li>
            </ul>
        </li>
         }
        
        @* End  Administrator *@


        @* Time Keeper *@

        @if(User.IsInRole("Time Keeper"))
        {
            <li class=" nav-item">
            <a class="d-flex align-items-center" asp-action="Index" asp-controller="Attendance"><i data-feather='clock'></i><span class="menu-title text-truncate" data-i18n="Attendance">Attendance</span></a>
            </li>
        }
        
        @* End Time Keeper*@
        @* Finance *@

        @if(User.IsInRole("Finance"))
        {
             <li class=" nav-item">
            <a class="d-flex align-items-center" href="#"><i data-feather='dollar-sign'></i><span class="menu-title text-truncate" data-i18n="Financials">Financials</span></a>
            <ul class="menu-content">
                <li>
                    <a class="d-flex align-items-center" asp-action="Setup" asp-controller="Finance"><i data-feather='settings'></i><span class="menu-item text-truncate" data-i18n="Setup Dues">Setup Dues</span></a>
                </li>
                <li>
                    <a class="d-flex align-items-center" asp-action="MembersInDept" asp-controller="Finance"><i data-feather='plus-square'></i><span class="menu-item text-truncate" data-i18n="Dues Entry">Dues Entry</span></a>
                </li>
                <li>
                    <a class="d-flex align-items-center" asp-action="Expense" asp-controller="Finance"><i data-feather='minus'></i><span class="menu-item text-truncate" data-i18n="Expenditure">Expenditure</span></a>
                </li>
                <li>
                    <a class="d-flex align-items-center" asp-action="Report" asp-controller="Finance"><i data-feather='trending-up'></i><span class="menu-item text-truncate" data-i18n="Reports">Reports</span></a>
                </li>
            </ul>
        </li>
        }
           
         @* End Finance *@
        </ul>
    </div>
</div>
