@model IEnumerable<dccportal.org.Dto.DepartmentDto>
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0,minimal-ui">
    <meta name="author" content="Samuel Ezeala">
    <title>Login Page - DCC Portal</title>
    <link rel="apple-touch-icon" href="~/assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/ico/ico.png">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600" rel="stylesheet">

    <!-- BEGIN: Vendor CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/vendors.min.css">
    <!-- END: Vendor CSS-->
    <!-- BEGIN: Theme CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/colors.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/components.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/themes/dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/themes/bordered-layout.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/themes/semi-dark-layout.css">
    <link rel="stylesheet" type="text/css" href="~/assets/vendors/css/extensions/toastr.min.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/plugins/extensions/ext-component-toastr.css">

    <!-- BEGIN: Page CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/core/menu/menu-types/vertical-menu.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/plugins/forms/form-validation.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/pages/page-auth.css">
    <!-- END: Page CSS-->
    <!-- BEGIN: Custom CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/style.css">
    <!-- END: Custom CSS-->

</head>
<!-- END: Head-->
<!-- BEGIN: Body-->

<body class="vertical-layout vertical-menu-modern blank-page navbar-floating footer-static   menu-collapsed" data-open="click" data-menu="vertical-menu-modern" data-col="blank-page">
    <!-- BEGIN: Content-->
    <div class="app-content content ">
        <div class="content-overlay"></div>
        <div class="header-navbar-shadow"></div>
        <div class="content-wrapper">
            <div class="content-header row">
            </div>
            <div class="content-body">
                <div class="auth-wrapper auth-v2">
                    <div class="auth-inner row m-0">
                        <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="33px" height="32px" viewBox="0 0 33 32" enable-background="new 0 0 33 32" xml:space="preserve">  <image id="image0" width="33" height="32" x="0" y="0"
    href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAgCAYAAACcuBHKAAAABGdBTUEAALGPC/xhBQAAACBjSFJN
AAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAABmJLR0QA/wD/AP+gvaeTAAAA
CXBIWXMAAAsSAAALEgHS3X78AAAAB3RJTUUH5gEZEwoWDOMjaAAAA9B6VFh0UmF3IHByb2ZpbGUg
dHlwZSB4bXAAAHic7Z1NcqNADIX3fYocoS31Dz4ONrCbqlnO8eepydgJxoltMlWPKoUqQ6Bb0qcf
Nm9B+PPrd3h7eztIFyXoWafa1VgORcup5JokFim51HIsow4i43Q6nSYR3D+WZHdy1ZwGjWmoMSnW
duUYUlf7io1Za5/GnArOMKiKTSI66Rh7PddO+9oVbCyDOSsHifZ/OZexqj0L5gHRpDJZHNrPDy7L
WyRXM7h3sh3pskNi7tKQYxALbqrtlmYZVWVAPFEPCq8KXtw7aNJs17h3xl1pz0UmnOffEmRoy/q2
sMeSKnFxiOHN14AUxIKVWVJK5QoYGuH80CC7mnBE7QE11fYnY8UiGVvcFf4PerTjEo/gdwizERmq
VlTJ8lI7wCFT9vwayzIihIPioTRSjpa7gJJOZUSI7wuQeIFvpNoiRKb7G9T3Y1E1q8UtVItovFYT
1yhJGYDbIeZogChCtKrOUYelH+uZZrxPFnbGtmTZyWZyKmcdP5YeEEdbVWtoKTzBf7QKo9hRuty6
2pYj1ypHPbdIvjQf1nKwGlVOaT7r+N5HGa2DDmoNlENOdkIHaeumpJr7OxF8MHXrPnzyPyDMBKxS
jzf+y8W/wJm5l9bGFb94Ghb+V00te0mm224KczvN3fR4+912X3il/bBZl70XEGaEISnn6zTZQvxm
bMz2QrHRQRvMTXi4NuEi2YbQfPSlNFOD5UZHhI8rvCmzOUNfVcvO2spFZ68ncT2HH9fOL5Qwv0qt
bsuX6Vq33D9uZu3V438ZegaGHu11GD60zywMEW0w9FVhdof2eJftAO3VkaFE+5n550D7yMIR0QZD
9wuzQ7RHu2wXaK+NDCnaT8w/C9qVhSWiDYbuFWaXaI912U7QXhkZWrTt88+D9o+FJ6INhtYLs1O0
R7psN2jPjwwx2tb5Z0KbWZgi2mBorTC7Rfu+y3aE9uzIUKNtm38utFWlZq9oqwLLXtG+67JdoT03
MuRoW+afDS32bBFtMLSq+O0V7esu2xmai5msaC5mkqK5mMmK5mImKZqLmaxoLmayormYSYrmYiYr
mouZpGguZrKiuZjJiuZiJimai5msaC5mkqK5mMmK5mImK5qLmaRoLmayormYyYrmYiYpmouZrGgu
ZpKiuZjJiuZiJiuai5mkaC5msqK5mEmK5mImK5qLmaxoLmaSormYyYrmYiYpmouZrGguZrKiuZhJ
iuZiJiuai5msaC5mkqK5mMmK5mImKZqLmaxoLmb+kw5XP6CS7SMT9kmCWudvn4S/RvCKY/pnItwA
AAwKSURBVFjDnVd7cFTXef+dc597971a7S4SICT0BAwC8TI1GFNCAD+CWw/B4yZOncQtCdN20kzS
dtxk2kmTOp24TsaZuHZb10ydGcc2KcGAMbExKeIVXjIPISEJ0Gu1kva9d/fuvfec0z9ksD3GzUzO
n/ee7/t+5/d93++cj+B3LO5ayJUdSBDgUgUKJAgImp0oGtGmYOWNr1xmRoCibV0CiaUhaBEZnEog
gqNULiLsD8NjeP/fGOTTfmSyU9BUDYJz6D4dffuGseDBFgAg6fHJcLI/12J49EIpyWRFpzw4y1NO
LAkWKLQSgOqFPZewcFsTnAoHIQQ2qSJk1Nwxlnynj2a5AMvMwRPy4tAPurH5bzfKtYuMxNEf9yws
F6tq09o6uzyB5lNvXYoPdWdWUyokWXfLWoBORuYE++d2xXo6H2q4rFAjefTlY+7Gr62GZ2MaZmkK
hGgwvIFPZ8KpVlG2iyA+Bk/VB1kzaHJguL77xaH1Q7/JbCqMV5o9c/nAsgc6JkBI1fYn08PvT7Yx
i2v5iZIyPZz3ltPVqEwNtXZ2eLBjfcPBDTuXvTersW7MrRR40WNB5Dn8niBUzbgziEq5CN3jQerS
NOKL4vp7/3lqxcmX+x5PX7O6jJiebH8gMt7+mURw6EBpSbBJ8c9d57O5DVVSJRdElKoVeyI3URzr
OTxYvnxgZDbLy4lEa+2FtY937N74xLpTo2duVuqXR5DNFeBRgzC8/o+DKBam4fMHce3sIFq62nyv
fmffA+deHXsSjHiWP9rQv+DhWXW6t7TEKdPosR9myPyNYRg1MoYPOXD1ChZuD4F6AEopVxQlZVfc
c8df6U2de/XGIt2jWss/3/zCY997aG//0eullnsjyKYM1CT0D0EUc0VQKQ3wGhgBn7H72288fOEX
Y7tC8aC56an2TLBBXQOwep2eh51txa++NYUVX56NSyd7cWO/BS2qYePfNyLeFoAQAKUUBASSIt1I
9RaO7X3qt3XlQtm38tHW5x7/4SN7stMpMxyNo2LmYPjCoADAdA7DNxtGwCfv+Zf963t+MbYzUT+r
9PAzneVAg3I/c0U9QRGUj8G2DZTyFspFF/4lAiPR0/DdVUUgZkAIgBACAgJCCFzbnVfb6n/o0Z+u
TYcikcL5V6/v3PP0m/eGo3GZw0XBUgAAtFIxIREFhMg4987Z1uOvDD5R46unW7/XYalBsYkIasiS
BcoG4Do5CAlwXBtDp5PoWtWJb/70y7j/r1ZCDykgIDMsEAIhBACAuW7AWytv2faDFRlF9tHjr/R+
9dzhCx0UMrw+gmLZBNV1A8SqQgjhfefFsw/KU6G2e/+yJanG+D2cCY1SCma+A2KfBq8WIWkuJA9w
7d0UTrx4HW5GgnAAuASypECmMgBxGwQhBMxxfcFGZd26P2vvs5NS65F/P/0gAB+puPClDciF0jSC
wVYc2bNnfvJMZcPiZW2jsbtJq+PYIUIkCGHDLZ6DXtMCq5KEHMjAk1AwPcRw/vVR9B5KwhOV4Y3J
CNTpSCwMorErBiOsAJhhRABwqnaibUt0/pW9s24M/3Z049HXjh1cv33t+Xw1B6oQHUJklDP7rq7Q
rVhs0Y647XK7RYhbpxFwXQHHcQAaB3EvYk5nCJy44IzDKlcRbfaiZV0talt8yKaK6DnSj1KujA99
AEIAnDqLl+6Ylxclb6znrcHVQghFcinkbDIPMc8KpC9Xl8+K1ZmBBSJedZhGqQQhOLiQAb0VZq4H
/tpHYGYOo2n1UpzdS1EYqaD17gQ2fXsxZI2jUEhD1+MQrgwB3AZwKy2uzfz1K701wWAwP9GbXmpW
08HMsDlNDzx/BOd/3RtxptR5dR0hUyh23cdOwAHV2wWrMA4OC64IwVdzHs331YIYLjQvBZUA5gIS
kZCdvApJdiAr0m0AM/44GGeQvWJ2bH44W55kDReP9kXefP4w6Fd/9E0kB6bDkuPzR5r9FhNO4JYh
5xyCM0hqI6h+FwqpfTAiXbAKJ9C1VUZNuw8jgylkR4sABDQ9BFn2ID95EUSwmRRwDiH4TPuCgINF
4q1BB64cSg1kIl/78VdAgRTMjOmjXFY8EZVzzpWPsAgBAcYJPLV/hGoxDbd8EYrRClk5jPVfmg+X
2Ti+5zLcKgPA4A83olyaQMUc/Eg6yEdY4Z5AvcZVXVUKUxUvgBmxElwQKkApuMy5AOcMQnAA4rYP
SZsHb/Qx5EbfhaQAzLUQn3cKW3YtwdRIGmcP9oO7AoTKMMJzUEh3A3A+eUULQbSA6ip+jTOX4TYI
T1CtMOIwO8cUQggXQoAxBsbYx+zV8Bp4ItswPXwIhn8OKuYAahu68bm/XgbuckzcyECAwmd4IawB
cGbe4aFAqyAKVTyEeQNqBQDk7277PmJNkTxXb5iF60yrIZLpEMd3qy4Yc2dMKQVAYcQeAONAdvRt
BOrXwCqOQJCX0PXZFeCUgrqTKBffBpUMgCgfpGKGXS4EVCIVWEXWicxKNXNDue/e/zTkLzy1HYE5
SvpgqHc8dbXUMd/RMhCVOAi5XdkAbrNCKYWsbcHgxSoS5gmEGptA5bkwMxfB3RMwwSCUGPyJbRBC
B+MOIBiEIDPZZcpE+mYpzGh5qH1VS7quYQ7kRFsYXl8k52vBhYkTqeX2QGuGNueZ4JDuwCU451B8
MiaG25C8qmH1jkEQ5RSMmpWQjE4IEgNgQPAZtZSlEXC3DC5aISlS1RxRMsO9A/M9teipmzcnH4yk
QTllAGAt3Fh3PEuGM8N7CVWoJ8U4+6C9PtIqICBEgqTLmL+yDsO9HsDZBZltR/FmP4o3n4edfQnC
OgTKu0HZAVTS/w27UgUBgUz14b5f5QOTqbFS6z31JwFYTLIga0otkgM38cdPbuk9//oL7/V239g+
Z2vjiNxhRZnLVYBDfHA1UyHBzlBM9XFkT6gg2TDe+sdR6NosBCJfRLT5JqKLLkOpPQbIeXChQgv8
Abz+FiiaXM6elkauHr3Z4Gm2Xn/465uvJIfGoQcCkB23hEhjGIA3v/oLLXuP/MPF1e//bFa86/uR
gaon3cHKEnFKEvJjDlIXMxi+kMbowBhKZhGCupgsD88wdF2BckFF9GgnWjo/i9YNAdQ0e0A8Gogs
GJ8y+s8+n0rkxfDwpu0dv6Tw5KJNQKVQmlER07wKTZ4LSfXoP/mLf3tk/HXjW2tWrOWNu8q+M/uH
mga7UySXzcK0snBpBRwcwhaATSGYBAIJBBQCApwLUKEi4ouhfvYszFkVYgs3xwfPP2val66c01s/
7/3nP3/28VecsmUptoOi/IFOMF4PpgqcOdhtff0nO/b775t+6eTpE9r1Z71WrN53zYpet7PudTi0
CFAXlArIHgIlQKH5JRDVBScOAAZJEoBkY7I4iHF2Cb6IWuj5V1u6dKlHS/wh/68//adH9v3mhVMW
DI6MBwj4Ax/qaSE/DX+gBktJJ47mj0Sf27X7sfy7vicWzl7jTWx0+IXR/5179cw1rVJwQQRAyUyd
ECqDUhnCIXBKLpjDoAUlLFjRgkWNqzB+jNl9Y2cHazc4L+x8bsfPQ6HaSSEESpU8/Ebo46JumiZk
SqHqOr6x9Tt45sDfhX72Nz/fPLC39Cf1lbs6m5Y01GLulHqzcAXjE6PIZwpwKgyccRAiQdE0+PwG
osEo5obaQaZiGOgdzeU8V0+2fy64+8mnHz34zBf/I/eN3TtRKhQgKQSGEfjk3GFmCxCKgNfrQ9/J
EbStblDf+Z/DLcdevvKg+b6+JcpbOuKJeChQpyo04IApNpiwwBwKXpHBCzJKU5YzPTmVydPhXm+n
fWjdlxbv37Dtvr4rR3vtBfe2I19Kw6sFoajqnYefWytvjkAyXOiohUx8EEJ4D7/xdvP5N68tz1yx
O0XaaFacUFwVhpcQKAzMsVE2XaWQojVmf7hDPbdsa/PZz2zfMkQIKbvchAULvCgQCEY/Ee9TB+J8
pgToOciKB7wkoSV8N5LiisyQ85749dnIeF86UkxVfMzlKlVhh2LeUn17XWbVhsUZikCphrSx67lu
qEE/qnYVUlWBP2Dg91pWZeatmDPTKJfzmLgxjtee2YOV2PyxffdgE375o/1I3UjCLOeQLyfRX3oN
1aLzO2P8HwHO703oFGkKAAAAJXRFWHRkYXRlOmNyZWF0ZQAyMDIyLTAxLTI1VDE5OjEwOjIyKzAw
OjAwVeVA8QAAACV0RVh0ZGF0ZTptb2RpZnkAMjAyMi0wMS0yNVQxOToxMDoyMiswMDowMCS4+E0A
AAATdEVYdGRjOmZvcm1hdABpbWFnZS9wbmf/uRs+AAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJl
d29ya3MgQ1M26LyyjAAAACN0RVh0eG1wOkNyZWF0ZURhdGUAMjAxNS0wNi0xNVQxNTozNDo0M1pG
wTjYAAAALXRFWHR4bXA6Q3JlYXRvclRvb2wAQWRvYmUgRmlyZXdvcmtzIENTNiAoV2luZG93cyko
Y/PJAAAAI3RFWHR4bXA6TW9kaWZ5RGF0ZQAyMDE2LTA2LTIzVDEyOjU3OjE2WobN6NEAAAAASUVO
RK5CYII=" />
</svg>
                            <h2 class="brand-text text-primary ml-1">DCC Workforce Portal</h2>
                        </a>
                        <!-- /Brand logo-->
                        <!-- Left Text-->
                        <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
                            <div class="w-100 d-lg-flex align-items-center justify-content-center px-5"><img class="img-fluid" src="~/assets/images/pages/login-v2.svg" alt="Login V2" /></div>
                        </div>
                        <!-- /Left Text-->
                        <!-- Login-->
                        <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
                            <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
                                <h2 class="card-title font-weight-bold mb-1">Welcome to DCC Workforce Portal! 👋</h2>
                                <p class="card-text mb-2">Please sign-in to your account and start the adventure</p>
                                <form class="auth-login-form mt-2" action="index.html" method="POST">
                                    <div class="form-group">
                                        <label class="form-label" for="login-email">User Name</label>
                                        <input class="form-control" id="login-email" type="text" name="login-email" placeholder="john@example.com" aria-describedby="login-email" autofocus="" tabindex="1" />
                                    </div>
                                    <div class="form-group">
                                        <div class="d-flex justify-content-between">
                                            <label for="login-password">Password</label><a href="page-auth-forgot-password-v2.html"><small>Forgot Password?</small></a>
                                        </div>
                                        <div class="input-group input-group-merge form-password-toggle">
                                            <input class="form-control form-control-merge" id="login-password" type="password" name="login-password" placeholder="············" aria-describedby="login-password" tabindex="2" />
                                            <div class="input-group-append"><span class="input-group-text cursor-pointer"><i data-feather="eye"></i></span></div>
                                        </div>
                                    </div>

                                   
                                    <div class="form-group">
                                        <label class="form-label" for="vertical-dept-desc">Department </label>
                                        <select class=" form-control" id="vertical-dept">
                                            @foreach (var item in Model)
                                            {
                                                <option value="@item.DeptId">@item.DeptName</option>
                                            }
                                        </select>
                                    </div>
                                    
                                    
                                    <button class="btn btn-primary btn-block" id="signin-btn" tabindex="4">Sign in</button>
                                </form>
                            </div>
                        </div>
                        <!-- /Login-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END: Content-->
    <!-- BEGIN: Vendor JS-->
    <script src="~/js/site.js"></script>
    <script src="~/js/axios.min.js"></script>
    <script src="~/assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->
    <!-- BEGIN: Page Vendor JS-->
    <script src="~/assets/vendors/js/forms/validation/jquery.validate.min.js"></script>
    <!-- END: Page Vendor JS-->
    <!-- BEGIN: Theme JS-->
    <script src="~/assets/js/core/app-menu.js"></script>
    <script src="~/assets/js/core/app.js"></script>
    <!-- END: Theme JS-->
    <!-- BEGIN: Page JS-->
    <script src="~/assets/vendors/js/extensions/toastr.min.js"></script>
    <script src="~/assets/js/scripts/extensions/ext-component-toastr.js"></script>
    <script src="~/js/auth.js"></script>
    <!-- END: Page JS-->

    <script>$(window).on('load', function () {
            if (feather) {
                feather.replace({
                    width: 14,
                    height: 14
                });
            }
        })</script>
</body>
<!-- END: Body-->

</html>
